*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
  --cell-size: 30px;
  background-color: gray;
}

body {
  display: flex;
  flex-direction: column;
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.interactable {
  & .cell {
    &:hover {
      background-color: rgb(244, 235, 235);
    }

    &:active {
      background-color: rgb(209, 203, 203);
    }
  }
}

.missed {
  background-color: rgb(90, 88, 88);
  &::after {
    content: "•";
  }
}

.hit {
  &::after {
    content: "❌";
  }
}

.enemy {
  background-color: rgb(214, 154, 228);

  & .missed {
    background-color: rgb(172, 114, 185);
  }
}

.player {
  & .ship {
    border-color: green;
    border-width: 5px;
  }
  & .top-edge {
    border-top: none;
  }

  & .bottom-edge {
    border-bottom: none;
  }

  & .left-edge {
    border-left: none;
  }

  & .right-edge {
    border-right: none;
  }
}

.sunk {
   &.ship {
    border-color: green;
    border-width: 5px;
  }

  &.top-edge {
    border-top: none;
  }

  &.bottom-edge {
    border-bottom: none;
  }

  &.left-edge {
    border-left: none;
  }

  &.right-edge {
    border-right: none;
  }
}

.board {
  display: grid;
  grid-template-columns: repeat(10, var(--cell-size));
  grid-template-rows: repeat(10, var(--cell-size));
}

#content {
  display: flex;
  justify-content: space-evenly;
  padding: 2em;
  gap: 1em;
}

#header {
  & div {
    font-size: 2rem;
  }
}

.two-items-horizontal {
  width: 100vw;
  display: flex;
  justify-content: space-around;
}

.two-items-vertical {
  display: flex;
  flex-direction: column;
  height: 50px;
  justify-content: space-between;
  align-items: center;
}
