:root {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
  --cell-size: 35px;
  background-color: gray;
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.interactable {
  & .cell {
    &:hover {
      background-color: rgb(244, 235, 235);
    }

    &:active {
      background-color: rgb(209, 203, 203);
    }
  }
}

.current-board {
  background-color: rgb(192, 161, 161);
}

.ship {
  border-color: red;
}

.missed {
  background-color: rgb(116, 108, 108);
  &::after {
    content: "•";
  }
}

.hit {
  background-color: aqua;
  &::after {
    content: "⦿";
  }
}

.enemy {
  .ship {

  }
}

.player {
  .ship {

  }
}

.board {
  display: grid;
  grid-template-columns: repeat(10, var(--cell-size));
  grid-template-rows: repeat(10, var(--cell-size));
}

#content {
  display: flex;
  justify-content: space-evenly;
  padding: 2em;
  gap: 1em;
}

#header {
  & div {
    font-size: 2rem;
  }
}

.two-items-horizontal {
  width: 100vw;
  display: flex;
  justify-content: space-around;
}

.two-items-vertical {
  display: flex;
  flex-direction: column;
  height: 50px;
  justify-content: space-between;
  align-items: center;
}
